<template>
  <div class="home">
    <div class="post" v-for="user of artistsObj">
       <h4>{{user.name}}</h4>
       <img :src="user.image[3]['#text']">
    </div>
  
  </div>
</template>

<script>
// @ is an alias to /src

//lib ext
import axios from 'axios'

export default {
  name: 'home',

  data(){
    return{
      artistsObj:[]
    }
  },
  mounted(){
    console.log('carga automatica');
    axios.get('http://ws.audioscrobbler.com/2.0/?method=chart.gettopartists&api_key=8a92d271cec834f4bf870da5988cbbec&limit=10&format=json')
      .then(response => response.data.artists.artist.map(
        user => this.artistsObj.push(user)))
  }
}
</script>
